.addtheaaterForm3{
    width: 80%;
    height: 100%;
    overflow-y: hidden;
    margin-top: 200px;
    margin-left: 250px;
  }
  
  .addtheaaterForm h2{
    color: #a52a2a;
  }
  .addtheaaterBookingFlex {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
  }
  
  .addtheaaterBookingForm {
    width: 100%;
    margin-top: 150px;
  }
  
  .addtheaaterBookingForm h2 {
    color: #333;
  }

  .addtheaaterform31{
    width: 100%;
    margin-left: 100px;
  }
  .theater-top-container{
  display: flex;
  
  }
  .addtheaaterformnameflex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .addtheaaterform-group3 {
    width: 50%;
    margin: 20px 0px;
  }
  
  .addtheaaterform-group3 label {
    color: #333;
    font-size: 16px;
  }
  
  .addtheaaterform-group3 input {
    width: 600px;
    display: block;
    margin-top: 5px;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: transparent;
    border: 0.5px solid #333;
    border-radius: 5px;
  }
  
  .addtheaaterform-group3 span {
    font-size: 12px;
    margin-left: 10px;
    color: red;
  }
  
  .addtheaaterform-group3 button {
    background: #6a7c94;
    color: #000;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    display: block;
    border-radius: 10px;
  }
  
  .addtheaaterform-group button a {
    text-decoration: none;
    color: #eee;
  }
  
  .addtheaaterform-group select {
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 17px;
    outline: none;
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 5px;
  }
  .theater-bottom-table{
  margin-top: 50px;
margin-left: 150px;
  
  }
  .category-table-containerT{
    width: 1000px;
  
  
  }
  