
.cinema-dash-container{
    width: 100%;
    margin-left: auto;
}

.cinema-dash-main{
    width: 80%;
    overflow-y: hidden;
    margin-left: auto;
    margin-top: 100px;
}
.cinema-dash-top-cont{
display: flex;
justify-content: center;
align-items: center;
margin: 30px;
color: #a52a2a;
}
.cinema-dash-top{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    
}
.cinema-dash-col{
    width: 340px;
    height: 150px;
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
   
}
.cinema-loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cinema-loader p{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(140, 140, 138);
}
.cinema-dash-col h4{
    text-align: center;
    padding-top: 10px;
    color: #a52a2a;
}
.cinema-dash-col span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}
.cinema-dash-bottom{
    width: 100%;
    overflow-y: hidden;
    margin-left: auto;
    margin-top: 100px; 
}
.cinema-dash-bottom table{
    width: 98%; background-color:#efebeb;
    border-collapse: collapse; 
    border-left: 10px solid gray;  
}
.dash-table-header{
    background-color: #3e3e3d;
    color: #d3d2d2;  
}
.dash-table thead th{
    font-size: 20px;
    margin-right: 20px;
}
.dash-table tbody td{ 
    padding: 7px;
    font-size: 16px;
    border-bottom: 8px solid #fff;
  text-align: center;
 height: 80px;
    }
    .drop-down{
        display: none;
        right: 0px;
   margin-left: 310px;
    }

    @media(max-width:1190px){
        .cinema-dash-top{
            width: 100%;
            display: block;
           
            
        }
        .cinema-dash-col{
            width: 100%;
            height: 250px;
            border: 0.1px solid gray;
            border-radius: 10px;
            box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 40px;
            margin-right: 70px;
        }
    }

    @media(max-width:1022px){
        .cinema-dash-top{
            width: 100%;
            display: block;
      
            
        }
        .cinema-dash-col{
            width: auto;
            height: 250px;
            border: 0.1px solid gray;
            border-radius: 10px;
            box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 40px;
           
        }
    }

    @media(max-width:600px){
        .cinema-dash-container{
            width: 100%;
            margin-left: auto;
        }
        
        .cinema-dash-main{
            width: 80%;
            /* overflow-y: hidden;
            margin-left: auto; */
            margin-top: 100px;
        }

        .drop-down{
            display: block;
            right: 0px;
       margin-left: 380px;
        }
        
    }

    @media(max-width:525px){
        .drop-down{
            /* display: none; */
            right: 0px;
       margin-left: 330px;
        }
       }
   @media(max-width:475px){
    .drop-down{
        /* display: none; */
        right: 0px;
   margin-left: 300px;
    }
   }

   @media(max-width:435px){
    .drop-down{
        /* display: none; */
        right: 0px;
   margin-left: 270px;
    }
   }
   @media(max-width:405px){
    .drop-down{
        /* display: none; */
        right: 0px;
   margin-left: 250px;
    }
   }

   @media(max-width:375px){
    .drop-down{
        /* display: none; */
        right: 0px;
   margin-left: 240px;
    }
   }

   @media(max-width:320px){
    .drop-down{
        /* display: none; */
        right: 0px;
   margin-left: 190px;
    }
   }

   @media(max-width:288px){
    .drop-down{
        /* display: none; */
        right: 0px;
   margin-left: 150px;
    }
   }