.sidenav{
    width: 17%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    top: 80px;
    background-color: #3e567c;
  
}

.sidenav ul {
    list-style: none;
 
}

.sideNavLinks{
    text-decoration: none;
}

.sidenav .sideNavLinks li{
    font-size: 0.9rem;
    background: #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #6a7c94 45%, #ffffff 55%);
    background-size: 220% 100%;
    background-position: 100% 50%;
}
.cinem-admin-log-out{
  
        font-size: 1rem;
        margin: 20px 10px;
        padding: 10px 15px;
        /* border: 0.5px solid #ffffff; */
        border-radius: 50px;
        /* text-align: left; */
        background: #ffffff;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #6a7c94 45%, #ffffff 55%);
        background-size: 220% 100%;
        background-position: 100% 50%;
        cursor: pointer;
    
}


@media(max-width:1190px){
    .sidenav{
        width: 17%;
        height: 90vh;
        position: fixed;
        overflow: scroll;
        background-color: #3e567c;
   
    }
}
@media(max-width:769px){
    .sidenav{
        width: 17%;
        height: 90vh;
        position: fixed;
        overflow: scroll;
        background-color: #3e567c;
   
    }
    .sidenav .sideNavLinks li{
        font-size: 0.7rem;
     
    }
}

@media(max-width:680px){
    .sidenav{
        width: 17%;
        height: 90vh;
        position: fixed;
        overflow: scroll;
        background-color: #3e567c;
   
    }
    .sidenav .sideNavLinks li{
        font-size: 0.5rem;
     
    }
}
@media(max-width:600px){
    .sidenav {
        display: none;
        z-index: -100;
    }  
}