
.cinema-branch-container{
    width: 100%;
    margin-left: auto;
}

.cinema-branch-main-p{
    display: flex;
    gap: 10px;
    width: 80%;
    overflow-y: hidden;
    margin-left: auto;
    margin-top: 150px;
}
.cinema-branch-img-cont{
    width: 350px;
    height: 350px;
   
}

.profile-img{
    font-size: 380px;
}
.cinema-branch-card-p{
    width: 56%;
    height: 470px;
    border: 1px solid gray;
    border-radius: 10px;
}
.cinema-branch-texts{
    padding: 30px;
}

.cinema-branch-text {
    padding: 10px;
}
.cinema-branch-text p{
    font-size: 20px;
    font-weight: 700;
}
.cinema-branch-text span{
    font-size: 20px;
   
}
.cinema-branch-text-span{
    margin-left: 30px;
}
.cinema-branch-text-span2{
    margin-left: 35px;
}
.cinema-branch-text-span1{
    margin-left: 30px;
}
.cinema-branch-text-span2{
    margin-left: 40px;
}
.cinema-branch-text-span3{
    margin-left: 25px;
}
.cinema-branch-text-span4{
    margin-left: 35px;
}
.cinema-branch-text-span5{
    margin-left: 40px;
}
.cinema-branch-text{
    display: flex;
 
    gap: 30px;
    margin-bottom: 20px;
    line-height: 30px;
}
.cinema-branch-btn{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.cinema-branch-edtbtn{
    margin-bottom: 20px;
    margin-top: 50px;
  
}
.cinema-branch-edtbtn button{
    width: 100px;
    height: 45px;
    border: none;
    background-color: #617cf7;
    border-radius: 5px;
    color: #ece9e9;
    cursor: pointer;
}

.cinema-branch-deletebtn button{
    width: 100px;
    height: 45px;
    border: none;
    background-color: #f76161;
    border-radius: 5px;
    color: #ece9e9;
    cursor: pointer;
}

.edit-input-box{
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 12px;
}
.edit-input-box1{
    margin-left: 5px;
 width: 50%;
 height: 50px;
 border-radius: 8px;
 background: transparent;
 border:1px solid #a3a2a2 ;
 outline: none;
}
.edit-input-box1:focus{
   background-color: #f5f2f2;
   height: 50px; 
   border-radius: 5px;
   font-size: 20px;
}
.edit-input-box2{
    margin-left: 10px;
 width: 50%;
 height: 50px;
 border-radius: 8px;
 background: transparent;
 border:1px solid #a3a2a2 ;
 outline: none;
}
.edit-input-box2:focus{
    background-color: #f5f2f2;
    height: 50px; 
    border-radius: 5px;
    font-size: 20px;
 }
.edit-input-box1-1{
    margin-left: 10px;
 width: 50%;
 height: 50px;
 border-radius: 8px;
 background: transparent;
 border:1px solid #a3a2a2 ;
 outline: none;
}
.edit-input-box3:focus{
    background-color: #f5f2f2;
    height: 50px; 
    border-radius: 5px;
    font-size: 20px;
 }
.edit-input-box2-1{
    margin-left: 25px;
   width: 50%;
   height: 50px;
   border-radius: 8px;
   background: transparent;
   border:1px solid #a3a2a2 ;
   outline: none;  
}
.edit-input-box4:focus{
    background-color: #f5f2f2;
    height: 50px; 
    border-radius: 5px;
    font-size: 20px;
 }
.edit-input-box3-1{
    margin-left: 15px; width: 50%;
    height: 50px;
    border-radius: 8px;
    background: transparent;
    border:1px solid #a3a2a2 ;
    outline: none;
}

.edit-input-box4-1{
    margin-left: 7px; width: 50%;
    height: 50px;
    border-radius: 8px;
    background: transparent;
    border:1px solid #a3a2a2 ;
    outline: none;
}
.edit-input-box5:focus{
    background-color: #f5f2f2;
    height: 50px; 
    border-radius: 5px;
    font-size: 20px;
 }
 .cinema-branch-update-btn{
    margin-bottom: 20px;
 }
 .cinema-branch-update-btn button{
    width: 120px;
    height: 50px;
    border-radius: 8px;
    background: #617cf7;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
 }