.bookedinfo{
    width: 100%;
    margin-top: 10rem;
}

.bookinginfopage{
    width: fit-content;
    margin: 0 350px;
    padding: 50px;
    border: .5px solid #003f88;
    border-radius: 10px;
}

.booked-h1{
    color: #003f88;
    margin-bottom: 30px;
}

.infosheet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 40px;
}

.sheetdetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    width: 400px;
}

.sheetdetails h3{
    font-weight: 400;
    font-size: 1rem;
}

.sheetdetails span{
    font-weight: 700;
    font-size: 1rem;
    color: #003f88;
}

.sheetdetails button {
    display: flex;
    float: right;
    padding: 10px 20px;
    background-color: navy;
    border: none;
    color: #fff;
    margin-top: 30px;
    border-radius: 5px;
}

p.col1p.booked span {
    background: #333;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    left: 3px;
    top: 3px;
    border-radius: 50px;
}


.VIP{
    border: #1c94d2 !important;
    background: #1c94d2;
}

.VVIP{
    border: #faac1d !important;
    background:#faac1d
}

.REGULAR{
    border: #ec167f !important;
    background: #ec167f;
}

.select-box:after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
    top: -17px;
    left: -16px;
    border-radius: 20px;
}

.book-box:after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
    top: -17px;
    left: -16px;
    border-radius: 20px;
}


.book-box:after,.booked-seat{
    background-color: #bde0fe;
}

.select-box:after, .selected-seat{
    background-color: #d9d9d9;
}