.sideNav{
    width: 17%;
    height: 100vh;
    position: fixed;
    top: 80px;
    background-color: #3e567c;
    /* background-color: #8ca0b1; */
    /* background-color: #a7bbcb; */
    /* background-color: #24344d; */
    padding: 30px 20px;
}

.sideNav ul {
    list-style: none;
}

.sideNavLinks{
    text-decoration: none;
}

.sideNavLinks li{
    font-size: 0.75rem;
    margin: 20px 10px;
    padding: 10px 15px;
    /* border: 0.5px solid #ffffff; */
    border-radius: 50px;
    text-align: left;
    background: #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #6a7c94 45%, #ffffff 55%);
    background-size: 220% 100%;
    background-position: 100% 50%;
}

/* .sideNavLinks li:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-position: 0% 50%;
    border: 0.5px solid #6a7c94;
} */