.movieschedule-Booking {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.movieschedule-BookingFlex {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}

.movieschedule-BookingForm {
  width: 100%;
  margin-top: 150px;
}

.movieschedule-BookingForm h2 {
  color: #333;
}

.movieschedule-form {
  background: transparent;
  background-size: cover;
  width: 80%;
  height: auto;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 25px 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 4px, rgba(0, 0, 0, 0.07) 0px 2px 8px,
    rgba(0, 0, 0, 0.07) 0px 4px 16px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.movieschedule-formnameflex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: red;
}

.movieschedule-form-group {
  width: 100%;
  margin: 20px 0px;
}

.movieschedule-form-group label {
  color: #333;
  font-size: 16px;
}

.movieschedule-form-group input {
  width: 100%;
  display: block;
  margin-top: 5px;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
  color: #333;
  background-color: transparent;
  border: 0.5px solid #333;
  border-radius: 5px;
}

.movieschedule-form-group span {
  font-size: 12px;
  margin-left: 10px;
  color: red;
}

.movieschedule-form-group button {
  background: #979797;
  color: #000;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  display: block;
  border-radius: 10px;
}

.movieschedule-form-group button a {
  text-decoration: none;
  color: #eee;
}

.movieschedule-form-group select {
  width: 100%;
  display: block;
  padding: 10px 15px;
  font-size: 17px;
  outline: none;
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 5px;
}

/* My own style */
/* .movieschedule-Booking {
  margin-left: 10rem;
} */

.movieScheduleForm {
  width: 70%;
  margin: 0 auto;
}
.movieScheduleFormInputContainer {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.movieScheduleLegend {
  text-align: center;
  margin-top: 2rem;
}

.formGroup {
  display: grid;
  gap: 0.5rem;
  position: relative;
  margin: 1rem 0;
  padding: 0 1rem;
}

.formGroup input,
.formGroup select {
  padding: 0.2rem 0 0.5rem 0;
  border: 0.025rem solid;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  color: var(--white);
  outline: none;
  transition: 0.6s all ease;
}

.formGroup label {
  font-size: 0.9rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 0s 50000s;
}

.movieScheduleFormBtnContainer {
  margin: 4rem 0;
}
.movieScheduleFormBtnContainer button {
  width: 100%;
  padding: 1rem;
  background-color: #7848f4;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.previewImg {
  width: 10%;
  height: 100px;
}
/* .formGroup > input ~ label:not(.image) {
  transform: translateY(-200%);
}

.formGroup > input:focus ~ label {
  transition: 0.4s ease all;
  transform: translateY(-350%);
  font-size: 0.7rem;
} */
/* .formGroup input::placeholder {
  font-weight: 900;
  color: var(--white);
  padding-left: 20px;
  transform: translateY(0%);
  transition: 0.4s ease all;
}

.formGroup input:is(:focus) {
  border-color: var(--tertiary);
}

.formGroup input:is(:hover, :focus)::placeholder {
  transform: translateY(-250%);
  transition: 0.4s ease all;
} */

.uploadImg {
  font-size: 3rem;
  text-align: left;
}
.image {
  cursor: pointer;
  width: 100%;
}
#image {
  display: none;
}
