.theaterSideNav{
    width: 18%;
}

.theatersideNav{
    width: 18%;
    height: 100vh;
    position: fixed;
    top: 80px;
    background-color: #3e567c;
    padding: 50px 20px;
}

.theatersideNav ul {
    list-style: none;
}

.theatersideNavLinks{
    text-decoration: none;
}

.theatersideNavLinks li{
    font-size: 1rem;
    margin: 20px 10px;
    padding: 10px 15px;
    border-radius: 50px;
    text-align: left;
    background: #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #6a7c94 45%, #ffffff 55%);
    background-size: 220% 100%;
    background-position: 100% 50%;
}