.theatersideNav{
    width: 17%;
    height: 100vh;
    position: fixed;
    top: 80px;
    background-color: #3e567c;
    padding: 30px 20px;
}

.theatersideNav ul {
    list-style: none;
}

.theatersideNavLinks{
    text-decoration: none;
}

.theatersideNavLinks li{
    font-size: 0.9rem;
    margin: 20px 10px;
    padding: 10px 15px;
    border-radius: 50px;
    text-align: left;
    background: #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #6a7c94 45%, #ffffff 55%);
    background-size: 220% 100%;
    background-position: 100% 50%;
}