.theaterBooking {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.theaterBookingFlex {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}

.theaterBookingForm {
  width: 100%;
  margin-top: 150px;
}

.theaterBookingForm h2 {
  color: #333;
}

.theaterform {
  background: transparent;
  background-size: cover;
  width: 80%;
  height: auto;
  margin: 10px auto;
  padding: 25px 50px;
}

.theaterformnameflex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.theaterform-group {
  width: 100%;
  margin: 20px 0px;
}

.theaterform-group label {
  color: #333;
  font-size: 16px;
}

.theaterform-group input {
  width: 100%;
  display: block;
  margin-top: 5px;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
  color: #333;
  background-color: transparent;
  border: 0.5px solid #333;
  border-radius: 5px;
}

.theaterform-group span {
  font-size: 12px;
  margin-left: 10px;
  color: red;
}

.theaterform-group button {
  background: #979797;
  color: #000;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  display: block;
  border-radius: 10px;
}

.theaterform-group button a {
  text-decoration: none;
  color: #eee;
}

.theaterform-group select {
    width: 100%;
    display: block;
    margin-top: 5px;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: transparent;
    border: 0.5px solid #333;
    border-radius: 5px;
}

.theaterbookingRight {
  width: 35%;
  margin-top: 5rem;
  color: #333;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.theaterbookingRight img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.theaterMovieInfo {
  width: 100%;
  text-align: left;
  padding: 15px;
}

.theaterMovieInfo h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.theaterMovieInfo span {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

.movieDescription {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  max-height: 200px;
  overflow: hidden;
}

.read-more {
  display: none;
}

.movieDescription.expand .read-more {
  display: inline;
}
