.theatersideNav {
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: #3e567c;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

@media (max-width: 1023px) {
	.theatersideNav {
		display: none;
	}

	.theatersideNavIcon {
		display: block;
		cursor: pointer;
		font-size: 2rem;
		margin-top: 100px;
		color: #fff;
		text-align: center;
	}
	.theatersideNav {
		display: block;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		background-color: #3e567c;
		padding: 30px 20px;
		z-index: 1;
	}
}

.theatersideNav ul {
	list-style: none;
}

.theatersideNavLinks {
	text-decoration: none;
	display: flex;
	gap: 5px;
	align-items: center;
	padding-left: 20px;
}

.theatersideNavLinks li {
	font-size: 0.7rem;
	margin: 15px 5px;
	text-align: left;
	cursor: pointer;
}

.theatersideNavLinks:focus {
	background-color: #4b85c7;
}

.theatersideNavLinks img {
	width: 25px;
	height: auto;
	filter: invert(1);
}

.exist {
	font-size: 1rem;
	margin: 20px 10px;
	padding: 10px 15px;
	text-align: right;
	cursor: pointer;
	display: flex;
	justify-content: right;
	gap: 10px;
	align-items: center;
}

.exist img {
	width: 30px;
	height: auto;
	filter: invert(1);
}
