.addcounterForm{
    width: 80%;
    height: 100vh;
    overflow-y: hidden;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .addcounterBookingFlex {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
  }
  
  .addcounterBookingForm {
    width: 100%;
    margin-top: 150px;
  }
  
  .addcounterBookingForm h2 {
    color: #333;
  }
  
  .addcounterform {
    background: transparent;
    background-size: cover;
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 25px 50px;
  }
  
  .addcounterformnameflex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .addcounterform-group {
    width: 100%;
    margin: 20px 0px;
  }
  
  .addcounterform-group label {
    color: #333;
    font-size: 16px;
  }
  
  .addcounterform-group input {
    width: 100%;
    display: block;
    margin-top: 5px;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: transparent;
    border: 0.5px solid #333;
    border-radius: 5px;
  }
  
  .error-message {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 15px;
    color: red;
  }
  
  .addcounterform-group button {
    background: #6a7c94;
    color: #000;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    display: block;
    border-radius: 10px;
  }
  
  .addcounterform-group button a {
    text-decoration: none;
    color: #eee;
  }
  
  .addcounterform-group select {
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 17px;
    outline: none;
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 5px;
  }