/* .cinema-admin-container{
    display: flex;
    gap: 360px;
} */
.cinema-admin-main{
    width: 80%;
    overflow-y: hidden;
    margin-left: auto;
    margin-top: 100px;
 
}
.cinema-admin-form-container{
    width: 100%;
    margin-left: auto;
}
.add-cinema-form-group{
    width: 100%;
  margin: 20px 0px;
}
.add-cinema-form-group label{
    margin: 20px 0px;
}
.add-cinema-form-group input{
    width: 60%;
    display: block;
    height: 50px;
    margin-top: 5px;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: transparent;
    border: 0.5px solid #333;
    border-radius: 5px;
}

.add-cinema-form-group select{
    width: 60%;
    display: block;
    height: 50px;
    margin-top: 5px;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: transparent;
    border: 0.5px solid #333;
    border-radius: 5px;
}
/* .add-cinema-form-select{
    width: 60%;
    height: 50px;
    margin-top: 5px;
    padding: 8px 10px;
} */
.cinema-form-group-btn{
    background: #6a7c94;
    width: 60%;
    height: 50px;
    color: #000;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    display: block;
    border-radius: 10px;   
}